*.retry
.vagrant
.*.swp
.idea
.DS_Store
*.tgz
*.lock
*_tmp
Docker
vendor/
Devops
Devops.exe
mongodb*
bin/
lib/
share/
## Azure
creds.json
provider.yaml
.exercism
npmcache
bin/
share/
obj/
bin/
lib/
lib64/
libexec/
local/
sbin/
src/
var/
vbin/