version: "3.7"
services:
  canary:
    image: ranjithka/canary:latest
    build:
      context: .
      args:
        APP: canary
    ports:
      - "8080:8080"

  # production:
  #   image: ranjithka/prd:0.0.1
  #   build:
  #     context: .
  #     args:
  #       APP: prd
  #   ports:
  #     - "8081:8080"

  # mongodb:
  #   image: mongo:latest
  #   ports:
  #     - "27017:27017"
  #   environment:
  #     MONGO_INITDB_DATABASE: admin
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: rootpass