kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
## If we want to use the registry server, we can use that here, i choose kind load option
containerdConfigPatches:
  - |-
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."localhost:5000"]
      endpoint = ["http://kind-registry:5000"]
nodes:
  - role: control-plane
    image: kindest/node:v1.21.1@sha256:fae9a58f17f18f06aeac9772ca8b5ac680ebbed985e266f711d936e91d113bad
  - role: worker
    extraPortMappings:
      - containerPort: 32080
        hostPort: 80
        protocol: tcp
      - containerPort: 32443
        hostPort: 2443
      - containerPort: 31443
        hostPort: 443
      - containerPort: 31697
        hostPort: 27017
    image: kindest/node:v1.21.1@sha256:fae9a58f17f18f06aeac9772ca8b5ac680ebbed985e266f711d936e91d113bad
